* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 1240px;
    margin: auto;
    position: relative;
}

.wrapper-nav{
    width: 100%;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: #213555;
    margin-left: 3%;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #F0F0F0;
    z-index: 1;
    margin: 0px;
    padding: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #4F709C;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
}

.kolom .header {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #213555;
}

.kolom .deskripsi {
    font-size: 15px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4F709C;
    text-align: justify;
}

a.tombol-biru {
    background: #4F709C;
    border-radius: 0.5rem;
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    color: #F0F0F0;
    cursor: pointer;
    font-weight: bold;
}

a.tombol-biru:hover {
    background: #213555;
    text-decoration: none;
}

/*BLOG */
.blog-part {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.blog-part a {
    text-decoration: none;
}

.blog-part ul {
    list-style: none;
}

.blog body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-top: 1px solid #213555;
}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span{
    color: #4F709C;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #213555;
    font-weight: 600;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #4F709C;
    margin: 20px;
}

.blog-img {
    max-width: 100%; /* Set the maximum width */
    overflow: hidden; /* Ensure that the image doesn't overflow its container */
}

.blog-img img {
    width: 100%; /* Occupy 100% of the width */
    height: auto; /* Maintain the aspect ratio */
    max-height: 100%; /* Limit the height to the maximum available */
    object-fit: cover; /* Scale the image while maintaining its aspect ratio */
    object-position: center; /* Center the image within its container */
}


.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color: #4F709C;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    color: #213555;
    white-space: nowrap;      /* Prevent line breaks */
    overflow: hidden;         /* Hide overflowing content */
    text-overflow: ellipsis;  /* Display an ellipsis (...) when content overflows */
}

.blog-text .blog-title:hover {
    color: #E5D283;
    transition: all ease 0.3s;
    white-space: normal;      /* Allow the text to wrap and display full content */
    overflow: visible;        /* Display overflowing content */
    text-overflow: initial;   /* Default text-overflow behavior */
}


.blog-text p{
    color: #526D82;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a{
    color: #213555;
}

.blog-text a:hover{
    color: #E5D283;
    transition: all ease 0.3s;
}

/* SLIDER HOME */
.container {
    padding: 3rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/* community section */

#community {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-top: 1px solid #213555;
}

/* contact section */
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-top: 1px solid #213555;
    border-bottom: 1px solid #213555;
}

.card-part{
    background: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-part .contact-info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.contact-info .card{
    background: #213555;
    padding: 0 20px;
    margin: 0 10px;
    width: 320px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
}

.card .card-icon{
    font-size: 30px;
    background: #b5a563;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.card:hover .card-icon{
    background: none;
    color: #E5D283;
    transform: scale(1.6);
}
  
.card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}
  
.card:hover p{
    max-height: 40px;
    opacity: 1;
}

.card a {
    text-decoration: none;  /* Remove underline */
    color: inherit;         /* Use the color of the parent element (default color) */
}

.card a:hover {
    text-decoration: none;  /* Remove underline on hover */
    color: inherit;         /* Use the color of the parent element on hover */
}

#map {
    margin: 20px 0; /* Adjust margin as needed */
    display: flex;
    flex-direction: column; /* Display children in a column */
    align-items: center;
    border-top: 1px solid #213555;
}

.map-container {
    margin-top: 10px; /* Adjust margin as needed */
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    overflow: hidden; /* Ensure the shadow is contained */
    margin-bottom: 20px;
}

iframe {
    width: 100%;
    height: 400px; /* Adjust height as needed */
    border: 3px solid #ddd; /* Add a subtle border */
    border-radius: 8px; /* Add rounded corners */
}

.map-heading {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.map-heading h3 {
    font-size: 2.4rem;
    color: #213555;
    font-weight: 600;
}

#koleksi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}


.book {
    width: 300px;
    background-color: #fff;
    border: 1px solid #4F709C;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.book h4 {
    font-size: 1.2rem;
    color: #213555;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;         /* Hide overflowing content */
    text-overflow: ellipsis;  /* Display an ellipsis (...) when content overflows */
}

.book p {
    font-size: 0.9rem;
    color: #4F709C;
    margin-top: 5px;
    white-space: nowrap;      /* Prevent line breaks */
    overflow: hidden;         /* Hide overflowing content */
    text-overflow: ellipsis;  /* Display an ellipsis (...) when content overflows */
}

/* form */
.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.signup form {
    background-color: #F0F0F0;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 600px; 
    width: 100%; 
}

.signup form .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup form .logo a {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #213555;
}

.signup form label{
    display: block;
    text-align: left; 
    margin-bottom: 5px; 
}


.signup form input,
.signup form select,
.signup form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

.signup form input:hover,
.signup form select:hover,
.signup form textarea:hover {
    background-color: lightgray;
}

.signup form button[type="submit"] {
    background: #4F709C;
    border-radius: 0.5rem;
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    color: #F0F0F0;
    cursor: pointer;
    font-weight: bold;
}

.signup form button[type="submit"]:hover {
    background: #213555;
    text-decoration: none;
}
