* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}


span {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #4F709C;
    display: none;
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 1240px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: #213555;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #F0F0F0;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #4F709C;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.signup form {
    background-color: #F0F0F0;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 600px; 
    width: 100%; 
}

.signup form label{
    display: block;
    text-align: left; 
    margin-bottom: 5px; 
}


.signup form input[type="text"],
.signup form input[type="tel"],
.signup form input[type="date"],
.signup form input[type="email"],
.signup form input[type="password"],
.signup form input[type="number"],
.signup form select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the total width */
}

.signup form textarea {
    width: 100%;
    padding: 10px;
    resize: vertical;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the total width */
}

.signup form input[type="number"]:hover,
.signup form input[type="text"]:hover,
.signup form input[type="date"]:hover,
.signup form input[type="email"]:hover,
.signup form input[type="password"]:hover,
.signup form input[type="tel"]:hover,
.signup form textarea:hover,
.signup form select option:hover {
    background-color: lightgray;
}

.signup form button[type="submit"] {
    background: #E5D283;
    border-radius: 0.5rem;
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    color: #213555;
    cursor: pointer;
    font-weight: bold;
}

.signup form button[type="submit"]:hover {
    background: #64CCC5;
    text-decoration: none;
}

.signup form .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup form .logo a {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #213555;
}

.signup_result h1 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #213555;
    text-align: center;
}

.signup_result h2 {
    font-size: 15px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4F709C;
    text-align: center;
}

.search-container {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    align-items:end;
}

#searchInput {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}


.listTable {
    width: 1240px;
    margin: auto;
    position: relative;
    overflow-x: auto;
}

#userTable {
    overflow-x: auto;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#userTable th, #userTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#userTable th {
    background-color: #f2f2f2;
}


